/* homescreen stying */
#home-screen-banner{
    width:100vw;
    height:550px;
    background-color:#ADADAD;
    background-image:url('../assets/images/home-screen-background-image.jpeg');
    background-size:cover;
}

#home-screen-banner-overlay{
    width:100%;
    height:100%;
    background-color:rgb(0 0 0 / 42%);
    display: flex;
    align-items: center;
    position: relative;
}

#home-screen-banner-photo-credits {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 15px;
    font-size: 13px;
}

#home-screen-banner-photo-credits a{
    text-decoration: underline !important;
    cursor: pointer;
}


#home-screen-banner-quote-of-the-day{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 15px;
    font-size: 13px;
}

#home-screen-search-input{
    width:100%;
    height:50px;
    border-radius:10px;
    border:none;
    background-color:rgb(255 255 255 / 30%);
    color: white;
    padding:15px;
    font-size:20px;
    font-weight:400;
    outline:none;
}

#home-screen-search-input::placeholder{
    color: white;
    font-weight: 400;
}

#home-screen-banner-title{
    font-size: 46px;
}

#home-screen-banner-subtitle{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

#home-screen-search-container {
    width: 50%;
    display: flex;
    position: relative;
}


#home-screen-banner-search-icon{
    position: absolute;
    right: 0;
    margin-right: 14px;
    margin-top: 11px;
    cursor: pointer;
}

.home-screen-banner-content{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}




@media (max-width:992px){
    #home-screen-search-container{
        width: 90%;
    }

    #home-screen-banner-quote-of-the-day{
        display: none;
    }

    #home-screen-search-input::placeholder{
        font-size: 13px;
    }
}